@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&display=swap');

:root {
    --fonte001: "Caveat", cursive;
}

* {
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color:wheat;
}

header {
    background-color:rgba(172, 255, 47, 0.726);
}
header > h1 {
padding: 10px;
text-align: center;
}

menu {
    display: block;
}
menu > ul {
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color:rgba(109, 146, 74, 0.808);
    text-align: center;
    color: aliceblue;
    border-top: 3px solid rgba(172, 255, 47, 0.719);
}
menu > ul > li > a:hover {
    background-color: grey;
}

main {
    width: 90vw;
    background-color: aliceblue;
    margin: auto;
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
}

article > h2 {
    padding-bottom: 10px;
}
article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}